
:root{
    --maroon-brown: #6f1d1b;
    --dark-brown: #432818;
    --brown: #99582a;
    --pink-beige: #ffe6a7; 
    --beige: #bb9457;
    --light-beige: #fefae0;
    --gray: rgb(86, 86, 86);
    --dark-gray: black;

    --prod-color1: #ede0d4ec;
    --prod-color2: #e6ccb2ec;
    --prod-color3: #ddb892ec;
    --prod-color4: #b08968ec;
    --prod-color5: #7f5539ec;
    --prod-color6: #9c6644ec;
    --blur: #e6ccb261;
    --nav-color: rgba(0, 0, 0, 0.5);
    --nav-colord: rgba(0, 0, 0, 0.8);
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, main{
    min-width: 100vw;
    height: 100vh;
}

main {
    background-image: url(../assets/Car-Fragrance-Kit-audi.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
}

/* Navbar */
header{
    position: fixed;
    width: 100vw;
    background: none;
    z-index: +3;
}

.navbar-nav{
    margin-left: auto;
    margin-right: 3rem;
}

.nav-link, .navbar-brand {
    color: var(--nav-color);
}

.nav-link:hover {
    animation: linkHover 0.6s ease-in-out forwards;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
}

.icons {
    width: fit-content;
    margin-left: auto;
    display: flex;
    gap: 1rem;
    margin-bottom: 0.8rem;
    margin-right: 2rem;
}

.icons i {
    scale: 1.2;
    color: var(--light-beige);
}


/* Home page */


.page {
    width: 100vw;
    height: 100vh;
}

h2 {
    margin: 0;
}

.top {
    width: 100vw;
    height: 70%;
    background-color: var(--prod-color3);
    display: flex;
    align-items: flex-end;
}

.bottom{
    width: 100vw;
    height: 30%;
    background-color: var(--prod-color5);
}

.para {
    height: fit-content;
    width: fit-content;
    
}

.top .para {
    margin-left: 2rem;
    color: var(--prod-color5);
}

.bottom .para {
    margin-left: 2rem;
    color: var(--prod-color3);
}

.top .para h2 {
    font-size: xxx-large;
}
.bottom .para h3 {
    font-size: xx-large;
}
/* ========================================================================================================= */
/* Products */
/* ========================================================================================================= */
.perfumes {
    background-color: var(--prod-color1);
    min-width: 100vw;
    height: 100vh;
    display: flex;
    animation: slide 50s linear infinite;
    
}
#stopSlide {
    animation-play-state: paused;
}

.btn:hover {
    animation: none;
    animation: buttonHover 0.6s ease-in-out forwards;
}

.slider, .perfumes {
    background: none;
}

.filterBox {
    position: fixed;
    width: 100%;
    z-index: +5;
    margin-top: 2.8rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.filterBox .searchPrice{
    margin-left: 0.3rem;
    margin-right: 1rem;
    width: 8rem;
    height: 2rem;
    border-radius: 0.4rem;
    background: none;
    border: 2px solid var(--nav-color);
    outline: none;
    box-shadow: none;
}

.filterBox input[type=number]::-webkit-inner-spin-button, 
.filterBox input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

.searchPrice:active {
    margin-right: 1rem;
    width: 8rem;
    height: 2rem;
    border-radius: 0.4rem;
    background: none;
    border: 2px solid var(--nav-color);
    appearance: textfield;
    outline: none;
    box-shadow: none;
    color: var(--nav-color);
}

.searchPrice::placeholder {
    color: var(--nav-color);
}

/* #products {
    min-width: 100wv;
    height: 100vh;
    
}

.prod {
    min-width: 33.33vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 1rem;
}
.img {
    width: 100%;
    height: 25rem;
    
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
}

.i1 {
    background-image: url(https://i.postimg.cc/rFxwDYzP/My-project-1-11.png);
}

.i3 {
    background-image: url(https://i.postimg.cc/13C0FxMD/Perfume-1-3.png);
}

.i2 {
    background-image: url(https://i.postimg.cc/BZjvSrPd/Perfume-1-2.png);
}
.i4 {
    background-image: url(/assets/Perfumes/Perfume\ 1\ \(4\).png);
}
.i5 {
    background-image: url(/assets/Perfumes/Perfume\ 1\ \(5\).png);
}
.i6 {
    background-image: url(/assets/Perfumes/Perfume\ 1\ \(6\).png);
}
.i7 {
    background-image: url(/assets/Perfumes/Perfume\ 1\ \(7\).png);
}
.i8 {
    background-image: url(/assets/Perfumes/Perfume\ 1\ \(8\).png);
}
.i9 {
    background-image: url(/assets/Perfumes/Perfume\ 1\ \(9\).png);
}
.i10 {
    background-image: url(/assets/Perfumes/Perfume\ 1\ \(1\).png);
}
.i11 {
    background-image: url(/assets/Perfumes/Perfume\ 1\ \(10\).png);
}

.prod h5 {
    margin-bottom: 2rem;
}

.prod h6 {
    margin-top: 1rem;
}

.prod1 {
    background-color: var(--prod-color1);
    color: var(--prod-color4)
    
}

.prod2 {
    background-color: var(--prod-color2);
    color: var(--prod-color6)
}

.prod3 {
    background-color: var(--prod-color3);
    color: var(--prod-color5)
}

.prod4 {
    background-color: var(--prod-color4);
    color: var(--prod-color1)
}

.prod5 {
    background-color: var(--prod-color5);
    color: var(--prod-color3)
}

.prod6 {
    background-color: var(--prod-color6);
    color: var(--prod-color2)
}

.prod7 {
    background-color: var(--prod-color1);
    color: var(--prod-color4)
}

.prod8 {
    background-color: var(--prod-color2);
    color: var(--prod-color6)
}

.prod9 {
    background-color: var(--prod-color3);
    color: var(--prod-color5)
}

.prod10 {
    background-color: var(--prod-color4);
    color: var(--prod-color1)
}

.prod11 {
    background-color: var(--prod-color5);
    color: var(--prod-color3)
}

.addtocart {
    margin-top: 3.5rem;
    width: 10rem;
    height: 3rem;
    border: none;
    border: 2px solid ;
}

.btn:active {
    scale: 0.8;
}

.btn:hover {
    animation: none;
    animation: buttonHover 0.6s ease-in-out forwards;
}

.atc1 {
    border-color: var(--prod-color4);
    color: var(--prod-color4)
}

.atc1:hover {
    border-color: var(--prod-color4);
    color: var(--prod-color4)
}

.atc2 {
    border-color: var(--prod-color6);
    color: var(--prod-color6);
}

.atc2:hover {
    border-color: var(--prod-color6);
    color: var(--prod-color6);
}

.atc3 {
    border-color: var(--prod-color5);
    color: var(--prod-color5);
}

.atc4 {
    border-color: var(--prod-color1);
    color: var(--prod-color1);
}

.atc5 {
    border-color: var(--prod-color2);
    color: var(--prod-color2);
}

.atc6 {
    border-color: var(--prod-color3);
    color: var(--prod-color3);
}

.atc7 {
    border-color: var(--prod-color4);
    color: var(--prod-color4);
}

.atc8 {
    border-color: var(--prod-color6);
    color: var(--prod-color6);
}

.atc9 {
    border-color: var(--prod-color5);
    color: var(--prod-color5);
}

.atc10 {
    border-color: var(--prod-color1);
    color: var(--prod-color1);
}

.atc11 {
    border-color: var(--prod-color2);
    color: var(--prod-color2);
} */
/* ========================================================================================================= */
/* Checkout */
/* ========================================================================================================= */
#checkout {
    display: flex;
}
.chkimg {
    padding-top: 4rem;
    width: 25vw;
    background-color: var(--prod-color1);
    display: flex;
    flex-direction: column;
    gap:1rem;
    
}
.cart{
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    gap:1rem;
    width: 75vw;
    background-color: var(--prod-color3);
}

.chkItemImg {
    width: 10rem;
    height: 10rem;
    margin-left: auto;
    border-top-left-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;
    background-color: var(--prod-color3);
}

.chkItemImg img {
    width: 100%;
    height: 100%;
}

.chkItemInfo {
    width: 80%;
    height: 10rem;
    padding-top: 0.6rem;
    border-top-right-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
    background-color: var(--prod-color1);

}
.qtyBox {
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: flex-end;
}
.qtyButton {
    width:8rem;
    height: 2rem;
    display: flex;
}

.qtyMin {
    width: 2.2rem;
    height: 100%;
    border: none;
    border-top-left-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;
    background-color: var(--prod-color3);
    color: var(--prod-color5);
}

.qtyVal {
    width: 2rem;
    height: 100%;
    background-color: var(--prod-color2);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: medium;
    color: var(--prod-color6);
}
.qtyPlus {
    width: 2.2rem;
    height: 100%;
    border: none;
    border-top-right-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
    background-color: var(--prod-color3);
    color: var(--prod-color5);
}

.dispTotal {
    margin-left: 20% ;
}

.cartEmpty{
    width: 40rem;
    height: 50rem;
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-top: 6rem;
    margin-left: 6rem;
}

.cartEmpty i {
    scale:25;
    color: var(--prod-color2);
}

.cartEmpty h2 {
    margin-top: 12rem;
    font-size: xxx-large;
    color: var(--prod-color2);
}

/* ========================================================================================================= */
/* Admin */
/* ========================================================================================================= */
#admin {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--prod-color1);
    color: var(--prod-color4);
}

.tbl {
    width: 100%;
    padding: 4rem;
    color: var(--prod-color3);
}

.table, .table button {
    color: var(--prod-color4);
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>td>button  {
    color: var(--prod-color6); 
  }

.table button {
    background: none;
    border: none;
    
}

#admin>button {
    background: none;
    border: none;
    color: var(--prod-color6);
}

#showModal {
    display: flex;
}
#hideModal {
    display: none;
}

.pop-up, .pop-upEdit {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display:flex;
    align-items: center;
    justify-content: center;
    background: none;
    z-index: +5;
    background-color: var(--blur);
    padding: 2rem;
}

.popForm, .popFormEdit {
    width: 40vw;
    height: 92vh;
    background-color: var(--prod-color2);
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.popForm form, .popFormEdit form {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    width: 100%;
}

.form-control:focus {
    background: none;
    border: none;
    border-bottom: 2px solid var(--prod-color4);
    outline: none;
    box-shadow: none;
    border-radius: 0;
}

.form-control {
    background: none;
    border: none;
    border-bottom: 2px solid var(--prod-color4);
    outline: none;
    border-radius: 0;
    color: var(--prod-color4);
    width: 100%;
}

.buttons {
    margin-top: 2rem;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.buttons button:hover {
    animation: buttonHover 0.6s ease-in-out forwards;
}

.buttons button {
    background: none;
    border: none; 
    width: 6rem;
    height: 2.2rem;
    border: 2px solid var(--prod-color4);
    border-radius: 0.4rem;
    color: var(--prod-color4);
}

.cancel, .cancelEdit {
    margin-left: 1rem;

}

.addItem, .addItemEdit {
    margin-left: 1rem;
}

.dispTotal {
    font-size: xxx-large;
    color: var(--prod-color5);
}

.sortButtons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.sortBy {
    color: var(--prod-color4);
}

.sortName:hover , .sortPrice:hover {
    animation: buttonHover 0.6s ease-in-out forwards;    
}

.sortName, .sortPrice {
    margin-left: 1rem;
    background: none;
    width: 5rem;
    height: 2.2rem;
    border: none;
    border: 2px solid var(--prod-color4);
    color: var(--prod-color4);
    border-radius: 0.4rem;
}
 /* =============================================================================================== */
@keyframes linkHover {
    0% {
        scale: 1;
        color: var(--nav-color);
    }
    50%{
        scale: 1.1;
        color: var(--nav-colord);
    }
    100%{
        scale: 1.03;
        color: var(--nav-colord);
    }
}

@keyframes buttonHover {
    0% {
        scale: 1;
    }
    50%{
        scale: 1.1;
    }
    100%{
        scale: 1.03;
    }
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-366.64vw);
    }
}


